table thead {
  background-color: darkgray;
  color: white;
}
table tfoot {
  background-color: yellow;
}

table tbody tr:nth-child(even) {
  background-color: lightgray;
}

table tbody tr:nth-child(odd) {
  background-color: white;
}
div{
  margin: 50px auto;
  width: 500px;
  border-radius: 5px;
  padding: 30px;
  background-color: #F9EBEB;
}
h1{
  font-family: 'Amatic SC', cursive;
  text-align: center;
}
